node_modules/
.DS_Store
thumbs.db

# Ignore all enormous 3D models and raw assets by default so we don't break the free tier!
*.glb
*.blend
*.blend1

# Explicitly KEEP ONLY the extremely optimized final assets we actually use!
!public/assets/working_portfolio11_draco.glb
!public/assets/adventurer_draco.glb
!public/assets/Adventurer (2).glb
